<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ujiuye.crmpro.hr.mapper.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.ujiuye.crmpro.hr.pojo.Employee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="hiredate" property="hiredate" jdbcType="DATE" />
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="position_fk" property="positionFk" jdbcType="INTEGER" />
    <result column="dept_fk" property="deptFk" jdbcType="INTEGER" />
    <result column="level_fk" property="levelFk" jdbcType="INTEGER" />
    <association property="dept" column="dept_fk" javaType="com.ujiuye.crmpro.hr.pojo.Dept" select="com.ujiuye.crmpro.hr.mapper.DeptMapper.selectByPrimaryKey"/>
    <association property="position" column="position_fk" javaType="com.ujiuye.crmpro.hr.pojo.Position" select="com.ujiuye.crmpro.hr.mapper.PositionMapper.selectByPrimaryKey"/>
    <association property="archives" column="id" javaType="com.ujiuye.crmpro.hr.pojo.Archives" select="com.ujiuye.crmpro.hr.mapper.ArchivesMapper.selectByEmployeeFk"/>
    <collection property="employeeRoleList" column="id" ofType="com.ujiuye.crmpro.system.pojo.EmployeeRole" select="com.ujiuye.crmpro.system.mapper.EmployeeRoleMapper.listByEmployeeFk"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, sex, age, telephone, hiredate, num, username, password, remark, position_fk, 
    dept_fk, level_fk
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ujiuye.crmpro.hr.pojo.EmployeeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from employee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from employee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from employee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ujiuye.crmpro.hr.pojo.EmployeeExample" >
    delete from employee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ujiuye.crmpro.hr.pojo.Employee" >
    <selectKey keyProperty="id" keyColumn="id" order="AFTER" resultType="int">
      select last_insert_id();
    </selectKey>
    insert into employee (id, name, sex,
      age, telephone, hiredate, 
      num, username, password, 
      remark, position_fk, dept_fk, 
      level_fk)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR}, #{hiredate,jdbcType=DATE}, 
      #{num,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{positionFk,jdbcType=INTEGER}, #{deptFk,jdbcType=INTEGER}, 
      #{levelFk,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ujiuye.crmpro.hr.pojo.Employee" >
    <selectKey keyProperty="id" keyColumn="id" order="AFTER" resultType="int">
      select last_insert_id();
    </selectKey>
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="hiredate != null" >
        hiredate,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="positionFk != null" >
        position_fk,
      </if>
      <if test="deptFk != null" >
        dept_fk,
      </if>
      <if test="levelFk != null" >
        level_fk,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null" >
        #{hiredate,jdbcType=DATE},
      </if>
      <if test="num != null" >
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="positionFk != null" >
        #{positionFk,jdbcType=INTEGER},
      </if>
      <if test="deptFk != null" >
        #{deptFk,jdbcType=INTEGER},
      </if>
      <if test="levelFk != null" >
        #{levelFk,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ujiuye.crmpro.hr.pojo.EmployeeExample" resultType="java.lang.Integer" >
    select count(*) from employee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update employee
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.hiredate != null" >
        hiredate = #{record.hiredate,jdbcType=DATE},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.positionFk != null" >
        position_fk = #{record.positionFk,jdbcType=INTEGER},
      </if>
      <if test="record.deptFk != null" >
        dept_fk = #{record.deptFk,jdbcType=INTEGER},
      </if>
      <if test="record.levelFk != null" >
        level_fk = #{record.levelFk,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update employee
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      hiredate = #{record.hiredate,jdbcType=DATE},
      num = #{record.num,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      position_fk = #{record.positionFk,jdbcType=INTEGER},
      dept_fk = #{record.deptFk,jdbcType=INTEGER},
      level_fk = #{record.levelFk,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ujiuye.crmpro.hr.pojo.Employee" >
    update employee
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null" >
        hiredate = #{hiredate,jdbcType=DATE},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="positionFk != null" >
        position_fk = #{positionFk,jdbcType=INTEGER},
      </if>
      <if test="deptFk != null" >
        dept_fk = #{deptFk,jdbcType=INTEGER},
      </if>
      <if test="levelFk != null" >
        level_fk = #{levelFk,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ujiuye.crmpro.hr.pojo.Employee" >
    update employee
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      telephone = #{telephone,jdbcType=VARCHAR},
      hiredate = #{hiredate,jdbcType=DATE},
      num = #{num,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      position_fk = #{positionFk,jdbcType=INTEGER},
      dept_fk = #{deptFk,jdbcType=INTEGER},
      level_fk = #{levelFk,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>