<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ujiuye.crmpro.system.mapper.EmployeeRoleMapper" >
  <resultMap id="BaseResultMap" type="com.ujiuye.crmpro.system.pojo.EmployeeRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_fk" property="roleFk" jdbcType="INTEGER" />
    <result column="employee_fk" property="employeeFk" jdbcType="INTEGER" />
    <association property="role" column="role_fk" javaType="com.ujiuye.crmpro.system.pojo.Role" select="com.ujiuye.crmpro.system.mapper.RoleMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, role_fk, employee_fk
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ujiuye.crmpro.system.pojo.EmployeeRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from employee_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from employee_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from employee_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ujiuye.crmpro.system.pojo.EmployeeRoleExample" >
    delete from employee_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ujiuye.crmpro.system.pojo.EmployeeRole" >
    insert into employee_role (id, role_fk, employee_fk
      )
    values (#{id,jdbcType=INTEGER}, #{roleFk,jdbcType=INTEGER}, #{employeeFk,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ujiuye.crmpro.system.pojo.EmployeeRole" >
    insert into employee_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleFk != null" >
        role_fk,
      </if>
      <if test="employeeFk != null" >
        employee_fk,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleFk != null" >
        #{roleFk,jdbcType=INTEGER},
      </if>
      <if test="employeeFk != null" >
        #{employeeFk,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ujiuye.crmpro.system.pojo.EmployeeRoleExample" resultType="java.lang.Integer" >
    select count(*) from employee_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update employee_role
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roleFk != null" >
        role_fk = #{record.roleFk,jdbcType=INTEGER},
      </if>
      <if test="record.employeeFk != null" >
        employee_fk = #{record.employeeFk,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update employee_role
    set id = #{record.id,jdbcType=INTEGER},
      role_fk = #{record.roleFk,jdbcType=INTEGER},
      employee_fk = #{record.employeeFk,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ujiuye.crmpro.system.pojo.EmployeeRole" >
    update employee_role
    <set >
      <if test="roleFk != null" >
        role_fk = #{roleFk,jdbcType=INTEGER},
      </if>
      <if test="employeeFk != null" >
        employee_fk = #{employeeFk,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ujiuye.crmpro.system.pojo.EmployeeRole" >
    update employee_role
    set role_fk = #{roleFk,jdbcType=INTEGER},
      employee_fk = #{employeeFk,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="listByEmployeeFk" resultMap="BaseResultMap">
    SELECT * FROM employee_role WHERE employee_fk=#{employee_fk}
  </select>
</mapper>